
/* colors: https://www.materialpalette.com/blue/deep-purple*/

body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  background-color: #F2F2F2;
}

/*Nav Bar and Title*/

h1 {

}

h4 {
  font-size: 12px;
  color: #757575;
}

h5 {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
}

#nav-links {
}

#links {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 35%;
  height: 45px;
}

#shares, #playlists, #pers-vids {
  display: none;
}

#title {
  margin: 12px 0 15px 20px;
  color: #757575;
}

.shares-icon {
  margin-left: 10px;
}

#shares {
  color: #BDBDBD;
}

#playlists, #pers-vids {
  color: #757575;
}

#admin {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  float: right;
  padding-right: 10px;
  width: 60%;
  height: 45px;
}

.admin-desktop {
  border: 2px solid #757575;
  border-radius: 14px;
}

#admin-un {
  text-align: center;
  margin: 0 5px;
  color: #2196F3;
}

#triangle {
  transform: rotate(0.5turn);
}

#logo {
  color: #FFFFFF;
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  font-size: 45px;
  text-align: right;
  padding-bottom:5px;
  margin-right: 15px;
}

#steel {
  color: #1976D2;
  font-weight: 900;
  font-size: 55px;
}

/*Cards*/

.views {
  font-size: 11px;
  margin: 10px 0 0 0;
  color: #FFFFFF;
}

.views-qty {
  font-size: 28px;
  margin-top: 5px;
  color: #FFFFFF;
}

.name {
  font-size: 16px;
  margin: 8px 0 4px 0;
  color: #757575;
}

.timestamp {
  font-size: 12px;
  margin: 0 0 13px 0;
  color: #BDBDBD;
}

.link {
  font-size: 12px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
  padding: 4px;
}

.playlist-title {
  margin-bottom: 0;
}

.playlist-name {
  font-size: 16px;
  margin: 7px 0 0 0;
  color: #757575;
}

.attachments {
  margin: 20px 0 0 0;
}

.attach-number {
  font-size: 30px;
  margin: 5px 0 0 0;
  color: #2196F3;
}

/*Container formatting*/
nav {
  width: 100%;
  /*border: 1px solid green;*/
  background-color: #212121;
  height: 115px;
  border-bottom: 1px solid #BDBDBD;
}

ul {
  display: inline-block;
  width: 40%;
  margin: 0 auto;
  padding: 0 0 0 15px;
}

li {
  display: inline-block;
  font-size: 10px;
}

#admin-mobile {
  display: none;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid blue;
}

.card {
  border: 1px solid red;
  background-color: #FFFFFF;
  /*min-width: 240px;
  max-width: 260px;*/
  width: 250px;
  /*width: 50%;*/
  height: 400px;
  margin: 0 5px 8px 5px;
  box-shadow: 0 0 10px #212121;
}

.header-box {
  height: 33.333%;
  border: 1px solid orange;
}

.card-1 .header-box {
  background: linear-gradient(
      rgba(0, 114, 198, 0.45),
      rgba(0, 114, 198, 0.45)),
      url('pictures/blue-steel.jpg') center;
  background-size: cover;
}

.card-2 .header-box {
  background: linear-gradient(
      rgba(0, 114, 198, 0.45),
      rgba(0, 114, 198, 0.45)),
      url('pictures/la-tigre.jpg') center;
  background-size: cover;
}

.header-content {
  width: 90%;
  height: 90%;
  margin: 10px auto 0 auto;
  border: 1px solid magenta;
}

.views-box {
  float: right;
}

.arrow-icon {
  /*filter: invert(80%);*/
  background-color: #FFFFFF;
  opacity: .8;
  border-radius: 25px;
}

.arrow-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.content-box {
  height: 66.666%;
  width: 90%;
  margin: 0 auto;
  border: 1px solid blue;
}

.url-box {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  word-break: break-all;
  overflow: scroll;
  background-color: #F2F2F2;
}


@media screen and (min-width: 500px) {
  #links {
    width: 60%;
  }

  #admin {
    width: 35%;
  }
}

@media screen and (min-width: 700px) {
  #shares, #playlists, #pers-vids {
    display: inline-block;
    font-size: 18px;
    margin: 0 20px 0 0;
  }

  #links {
    width: 70%;
  }

  #admin {
    width: 25%;
  }
}

@media screen and (min-width: 900px) {
  #nav-links {
    float: left;
    width: 100%;
    margin-bottom: -65px;
  }

  #links {
    width: 65%;
    margin: 65px 0 0 15px;
  }

  #shares, #playlists, #pers-vids {
    display: inline-block;
    font-size: 18px;
    margin: 0 53px 0 0;
  }

  #admin {
    float: right;
  }

  #logo {
    display: inline-block;;
    float: right;
  }
}

@media screen and (min-width: 1250px) {
  #links {
    display: inline-block;
  }

  .icon {
    vertical-align: middle;
  }

  #shares, #playlists, #pers-vids {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 75px 0 0;
  }
}
